/*=============================================================================================*/
/*=================================    RESET          */
/*=============================================================================================*/

*{
    padding: 0; margin: 0; /*afin que les element soit tous collés*/
    box-sizing: border-box; /* pour maîtriser width et flex-basis */
    list-style: none; /*suppression des puces*/
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: azure;

}
    /*couleurs desfonds*/
    nav {background-color: #37474f;}
    footer{background-color:#263238;}
    section{
        background-color:#607D8B;
        padding: 32px;
    }
    aside li:hover, .active{background-color: #607D8B;}
/*=============================================================================================*/
/*=================================     POSITIONNEMENT DE LA NAV + MAIN + FOOTER*/
/*=============================================================================================*/

    body{
        display: flex; /* crée un contexte flex pour ses enfants */
        flex-direction: column; /* affichage vertical */
        min-height: 100vh; /* toute la hauteur du viewport */
    }

    main{
        flex: 1; /* occupe la hauteur restante  */
        padding: 15vh 0 0 0;

    }

    nav a{
        font-size: 1.5vw;
    }

    header nav{
        position: fixed;
        width: 100%;
    }


/*=============================================================================================*/
/*======================================    POSITIONNEMENT DE LI + A (dans le UL)*/
/*=============================================================================================*/
    header ul { display: flex; }/* crée un contexte flex pour ses enfants */

    header  li{
            flex: 1; /* occupe la largeur restante  */
            height: 15vh;
            justify-content: space-around;/*repartie une marge automatiquement autour des li, centre l'ensemble des eleements*/

            display: flex;/* crée un contexte flex pour ses enfants */
            align-items: center;
        }

    header  li:hover {
            background-color: #607D8B;

        }

    header  a {
            text-transform: uppercase;
        }


/*=============================================================================================*/
/* =====================================    POSITIONNEMENT DE ASIDE + SECTION (à l'intérieur de MAIN)*/
/*=============================================================================================*/
    /*couleurs des fonds*/
    aside{

        /*flex: 1; *//*etire le contenu en mode mobile (width)*/
        position: fixed;
        z-index: 10;
        min-width: 20%;
        height: calc(100% - 25vh);/*hauteur des li : 15vh + hauteur du footer 10vh = 25vh*/


    }


    main{
        display: flex; /* crée un contexte flex pour ses enfants */
        flex-flow: wrap;/*permet de faire passer les elements enfant à la ligne (utilise pour le rwd)*/
        }
    section{
        flex: 1; /* occupe la hauteur restante  */
        min-width: 80%; /*nous avons mis flex-flow:wrap à main, du coup l'element section passera à la ligne lorsque sa taille sera de 600px*/
        margin-left: 20%;
    }

    section p{
        margin-bottom: 32px;
        text-align: justify;
    }

    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 5;
        height: 10vh;

        display: flex;
        flex-flow: column wrap;


    }

footer p{

    flex: 1;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center





}



/*=============================================================================================*/
/* =====================================     POSITIONNEMENT H1+ ARTICLE + P (à l'intérieur de ASIDE)*/
/*=============================================================================================*/
aside{
    display: flex;
    flex-flow: column wrap;
}

    aside h1{
        text-align: center;
    }
    aside nav{
        display: flex;
        flex-flow: column wrap;

        flex: 1;
    }

    aside p{
        background-color: #90A4AE;
        padding: 8px;
        height: 10vh;
    }

    aside ul{
        flex: 1;
        display: flex;
        flex-flow: column wrap;
    }

    aside li{
        flex: 1;
        text-align: center;

        display: flex;/*pour centrer verticalement et horiz le contenu*/
    }

    aside a{
        margin: auto;/*on centre horiz et vertic grace flexbox*/
    }





    @media screen and (max-width: 940px) {
        aside {
            display: none;
        }

        section{margin: 0}
    }


/*SRC*/
/*https://developer.mozilla.org/fr/docs/Web/CSS/Disposition_des_bo%C3%AEtes_flexibles_CSS/Utilisation_des_flexbox_en_CSS*/
/*https://material.io/guidelines/style/color.html#color-color-paletteS*/


